
/* Register.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="number"],
  input[type="tel"],
  input[type="email"],
  input[type="password"] {
    -moz-appearance: textfield; /* Removes the number input arrows in Firefox */
  }
  
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Removes the number input arrows in Chrome */
    margin: 0; /* Removes margin */
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  
  button[type="button"] {
    background-color: #6c757d; /* Gray color for back button */
  }
  
  button[type="button"]:hover {
    background-color: #5a6268; /* Darker gray on hover */
  }
  